{>"header"/}
<main class="main">
<section class="grid grid--gutter push-4">

    <div class="col w-5">
        <div class="film__poster media media--rounded media--pop">
            <img src="{film.poster}" alt="{film.title} Poster" />
        </div>
    </div>

    <div class="col w-7">
        <h1 class="giga pad">{film.title}</h1>
        <dl class="t">
            <dt>Score</dt>
            <dd>{film.rating}</dd>
            <dt>Director</dt>
            <dd>{film.director}</dd>
            <dt>Length</dt>
            <dd>{film.runtime}</dd>
            <dt>Plot</dt>
            <dd>{film.plot}</dd>
        </dl>
        <div class="push-3">
            <h2 class="mega pad">Most read reviews</h2>

            {#reviews}
            {>"review-excerpt"/}{~n}
            {/reviews}
        </div>
    </div>

</section>
</main>
{>"footer"/}
