{>"header"/}
<main class="main">
<section class="grid grid--gutter push-4">

    <div class="push-2 col w-12 grid grid--gutter">
        <ul class="nav-list">
            {#films}
            <li>
            <article class="grid grid--gutter">
                <div class="col w-2 push-2">
                    <div class="film__poster media media--rounded media--pop">
                        <img src="{poster}" alt="{title} Poster" />
                    </div>
                </div>
                <div class="col w-8 push-2">
                    <a class="deca pad btn btn--subtle" href="film/{ID}">
                        <h1 class="kilo">{title}</h1>
                    </a>
                    <div class="review__body t">{plot}</div>
                </div>
            </article>
            </li>
            {/films}
        </ul>
    </div>

</section>
</main>
{>"footer"/}
