{>"header"/}
  <main class="main">
    <section class="grid grid--gutter push-4">
      <h1 class="kilo col w-12">Popular films <div class="btn-wrap"><a class="btn btn--subtle icon--small" icon-r="caret-down">in the last week</a></div></h1>
      <div class="push-2 col w-12 grid grid--gutter">
        {#popular}
            <div class="col w-3">
                {>"article" ID=ID poster=poster title=title director=director/}{~n}
            </div>
        {/popular}
        <!-- <div class="col w-2">
          <a class="postersize postersize-3" href="/films"><span class="hecto t--center icon--large" icon-r="angle-right"></span></a>
        </div> -->
      </div>
    </section>

    <section class="grid grid--gutter push-4">
      <h1 class="kilo col w-12">Most read reviews <div class="btn-wrap"><a class="btn btn--subtle icon--small" icon-r="caret-down">this week</a></div></h1>
      <div class="push-2 col w-12 grid grid--gutter">
        {#mostReadReviews}
            <div class="col w-6">
                {>"review-index"/}
            </div>
        {/mostReadReviews}
      </div>
    </section>
  </main>
{>"footer"/}
