{>"header"/}
<main class="main">
<section class="grid grid--gutter push-4">

    <div class="col w-5">
        <div class="film__poster media media--rounded media--pop">
            <img src="{review.poster}" alt="{review.filmTitle} Poster" />
        </div>
        <div>
            <a class="deca pad btn btn--subtle" href="/film/{review.filmId}">Go to {review.filmTitle} page</a>
        </div>
    </div>

    <div class="col w-7">
        <h1 class="giga pad">{review.title}</h1>
        <div class="review__body t">{review.content}</div>
    </div>

</section>
</main>
{>"footer"/}
