<article class="review-excerpt grid">
    <div class="col w-2">
        <div class="film__poster media media--rounded media--pop">
            <img src="{poster}" alt="{title} Poster" />
        </div>
    </div>
    <div class="col col--gutter w-10">
        <h1 class="mega pad review__title">{title}</h1>
        <small>Written by</small>
        <h2 class="kilo review__author">{author}</h2>
    </div>
    <div class="col w-12 push-1">
        <div class="review__body t">
            <p>{excerpt}</p>
        </div>
        <a class="deca pad btn btn--subtle" href="/review/{id}">Continue reading...</a>
    </div>
</article>
